/*global html elements*/


/*fonts
font-family: 'Press Start 2P', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Permanent Marker', sans-serif;
font-family: 'Comfortaa', cursive;

*/

html {
  font-size: 16px;
}

div {}

p {}

h1 {
  font-size: 4.5rem;
  font-weight: 600;
  color: #F70A9C;
  text-shadow: #F70A9C 0 0 15px;
  font-family: 'Permanent Marker', sans-serif;
  width: 37rem;
}

#TODAY {
  display: flex;
  background-color: #000;
  color: white;
}


/*navigation*/

#navigation {
  width: 15rem;
  font-size: .65rem;
  padding-top: 4.5rem;
  padding-right: 1rem;
  margin-right: 6rem;
  display: flex;
  font-family: 'Press Start 2P', cursive;
}

.tomorrow {
  text-decoration: none;
  color: #fff;
  padding-left: 1rem;
  font-size: .8rem;
}

.today {
  text-decoration: underline;
  color: #F70A9C;
  padding-left: 1rem;
  font-size: .8rem;
}


/*main section*/

#TODAY-title {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TODAY-light-bar {
  height: 3px;
  background-color: #F70A9C;
  width: 70%;
  box-shadow: 0px 0px 15px #F70A9C;
}

#TODAY-key-content {
  display: flex;
  justify-content: space-between;
}

#TODAY-type-content {
  width: 32%;
  margin-right: 5rem;
}

#TODAY-type-content h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: .8rem;
  margin-top: 3rem;
  font-family: 'Press Start 2P', cursive;
}

#TODAY-type-content h3 {
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: .8rem;
  margin-top: 3rem;
  font-family: 'Press Start 2P', cursive;
}

.name {
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  font-style: italic;
  font-family: 'Comfortaa', cursive;
}

#name {
  text-decoration: none;
  color: #fff;
}

#TODAY-type-content .fa {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: #fff;
}

#TODAY-type-content p {
  font-size: .8rem;
  line-height: 1.6;
  text-align: justify;
  font-family: 'Comfortaa', cursive;
}

#TODAY-type-content ul {
  font-size: .8rem;
  line-height: 1.4;
}

.inspiration a {
  font-size: .8rem;
  line-height: 1.6;
  text-decoration: none;
  color: #00A3EC;
  font-family: 'Comfortaa', cursive;
}

#TODAY-quote {
  display: flex;
  width: 45%;
  font-family: 'Permanent Marker', sans-serif;
  margin-top: 2rem;
  /*margin-right: 2rem;*/
}

#TODAY-quote p {
  text-align: right;
  font-size: 5rem;
  line-height: 1.1;
  /*color: #262a2c;/* - black*/
  color: #00A3EC;
  /* - blue
  /*color: #F70A9C;/* - pink*/
  opacity: .20;
}

#imagery img {
  max-width: 85%;
  height: auto;
}

#TODAY-bottom {
  width: 100%;
  margin-top: 4 rem;
}

#TODAY-bottom h3 {
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 3rem;
  margin-top: 5rem;
  display: block;
  font-family: 'Press Start 2P', cursive;
}


/*image containers section*/

#TODAY-key-interests {
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
  margin-bottom: 3rem;
}

.interest-container {
  position: relative;
  width: 30%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
}

#deathtrooper {
  background-color: #101111;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00A3EC;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius: 3px;
}

.interest-container:hover .overlay {
  height: 100%;
}

.image-description {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: 'Press Start 2P', cursive;
}

.image-description a {
  color: #fff;
}

footer {
  background-color: #F70A9C;
  padding-top: 1rem;
}

footer h3 {
  font-size: .7rem;
  margin-top: .5rem;
  margin-bottom: 1.2rem;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

#TODAY-contact-elements {
  display: flex;
  justify-content: center;
}

footer .fa {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  color: #fff;
}
